.itemsCart {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px;
}

.selection {
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  margin: 40px;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
}

.img {
  margin: auto;
  margin-bottom: 20px;
}

.spanCart {
  font-weight: bold;
  padding: 5px;
  color: teal;
}

.buttonsCart,
.buttonHome {
  text-align: center;
}

.testNameCart {
  text-decoration: underline;
}

.noTests {
  font-size: 20px;
  color: black;
}
p span {
  font-weight: bold;
}
.alignLeft {
  text-align: left;
  margin-bottom: 20px;
}
