.itemDetail {
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 40px;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  padding: 30px;
  height: 500px;
}

.grid {
  display: grid;
  justify-content: center;
}

.imgItem {
  display: flex;
  justify-content: center;
  height: 400px;
  float: left;
}
img {
  width: 700px;
}

.cardItemDetail {
  justify-content: center;
  float: right;
  margin: auto;
  padding: 20px;
}

.cardHeaderItem {
  text-align: left;
  padding-bottom: 30px;
  font-size: 30px;
  text-transform: uppercase;
  color: #11a99d;
  font-weight: bold;
}
.cardDescriptionItem {
  text-align: left;
  padding: 10px;
  font-size: 20px;
}

.cardTitleItem {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.cardPriceItem {
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.textPrice {
  border: 5px solid lightgrey;
  width: auto;
  padding: 10px;
}

.spanItem {
  font-weight: bold;
}

.itemCount {
  font-weight: bold;
}

.added {
  text-align: center;
  justify-content: center;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  padding: 20px;
  float: right;
  width: 40%;
}

.buttonsDetail {
  padding-top: 20px;
  text-align: center;
  justify-content: center;
}
