.tituloHeader {
  font-size: 20px;
  color: black;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 20%;
  display: inline;
  float: right;
  width: 300px;
}

.logo {
  width: 200px;
  padding: 10px;
}

.menu {
  padding: 5px;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  text-align: center;
  display: block;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.nav-link {
  font-size: 15px;
  letter-spacing: 3px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: inline;
  padding-left: 40px;
  padding-right: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #11a99d;
  text-decoration: underline;
}

.cartWidgetNav {
  text-align: center;
  float: right;
  margin-right: 10px;
  display: inline;
}

.category {
  float: left;
  -webkit-box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  box-shadow: inset 0.3em 0.3em 1em rgba(0, 0, 0, 0.3),
    0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px white;
  padding: 10px;
  margin: 10px;
}

.titleCategory {
  text-align: center;
  display: inline;
  color: black;
  text-decoration: underline;
}
