.Footer {
  background-color: #a3e1e4;
  opacity: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding: 5px;
}

.Footer span {
  padding-right: 15px;
  font-weight: 200;
}
