.itemCount {
  width: auto;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.iconCart {
  padding-left: 10px;
}

.initialNumber {
  font-size: 20px;
  color: #11a99d;
  font-weight: bold;
  display: inline;
  padding: 20px;
}

.stockText {
  font-size: 8px;
  padding-bottom: 5px;
}

.stockNumber {
  color: #11a99d;
  font-weight: bold;
}
.button {
  padding-bottom: 20px;
  padding-top: 10px;
}
.buttonAdd {
  padding-bottom: 20px;
}
